@import "tailwindcss";

:root {
  color-scheme: light dark;
}
body {
  background-color: #fff;
  color: #1a202c;
}
@media (prefers-color-scheme: dark) {
  body {
    background-color: #0f172a;
    color: #f3f4f6;
  }
}